
#dictionary-page #dictionary-form-from-to .form-item, #dictionary-page #dictionary-form-from-to .form-item label {
  float: left;
}

#dictionary-page #dictionary-form-from-to .form-item {
  padding-top: 12px;
  padding-right: 10px;
}

#dictionary-page #dictionary-form-from-to .form-item label {
  padding-right: 5px;
}

#dictionary-page table td {
  vertical-align: top;
}

#dictionary .item-list ul.dictionary-translations, #dictionary .item-list ul.dictionary-translations li {
  margin: 0;
  padding: 0;
}

#dictionary .item-list ul li {
  background: none;
}

#dictionary-search {
  margin-top: 1em;
}

